/*@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');*/

div {
    font-family: "Inter", sans-serif;
}

p {
    font-family: "JetBrains Mono", monospace;
}
body{
    background-color: #e1eedd;
}
h3{
    color: #F0A04B;
}
.software-tools{
    padding-left: 30%;
    padding-right: 30%;
}
.software-tool-element{
    background-color: #fffaea;
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
}
.software-tool-element h4 {
    color: #F0A04B;
}
button.increment-button{
    border-radius: 5px;
}