/*@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');*/

div {
    font-family: "Inter", sans-serif;
}

p {
    font-family: "JetBrains Mono", monospace;
}
body{
    background-color: #e1eedd;
}
h3{
    color: #F0A04B;
}
p{
    color: #184733;
}
.software-tools{
    margin-left: 200px;
    padding-left: 10%;
    padding-right: 10%;
}
.software-tool-element{
    background-color: #fffaea;
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
}
.software-tool-element h4 {
    color: #F0A04B;
}
.software-tool-element p {
    overflow: scroll;
}
button.increment-button{
    border-radius: 5px;
    background-color: #f0a04c;
}
.create-comment{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;

}
.create-comment button {
    background-color: #F0A04B;
    color: white;
    font-weight: 600;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
}
.comment-textarea{
    width: 100%;
}
ul {
    list-style-type: none;
    padding: 0%;
}
